* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, ul, li {
    text-decoration: none;
    color: $colour-primary;
    list-style-type: none;
}


img {
    object-fit: cover;
}

button {
    border: none;
    background-color: $colour-primary;
}