.caption {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  &__title {
    font-size: xx-large;
  }
  &__location {
    font-size: larger;
    @include small-device {
      margin-top: 1rem;
    }
  }
}

.side-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include small-device {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1.8rem;
  }
}
