.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 30rem;
  border-radius: 1rem;
  @include small-device {
    height: 23rem;
  }
  &__img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
  }
  &__arrow {
    position: absolute;
    cursor: pointer;
    &--prev {
      left: 10px;
    }
    &--next {
      right: 10px;
    }
    @include small-device {
      height: 3rem;
    }
  }
  &__state {
    position: absolute;
    bottom: 1.5rem;
    left: 49%;
    color: white;
    font-size: large;
    @include small-device {
      display: none;
    }
  }
}
