.collapse {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $colour-primary;
    color: white;
    font-size: x-large;
    padding: 0.8rem;
    border-radius: 0.4rem;
    text-align: start;
    &__icon--rotate {
      transform: rotate(-0.5turn);
      transition: transform 250ms;
      cursor: pointer;
    }
    &__icon {
      transform: rotate(0turn);
      transition: transform 250ms;
      cursor: pointer;
    }
  }
  &__box {
    background-color: $colour-secondary;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    transition: height ease-in 250ms;

    &__p {
      color: $colour-primary;
      font-size: x-large;
      font-weight: 500;
      padding: 1rem;
      @include small-device {
        font-size: large;
      }
      & li {
        font-weight: 500;
      }
    }
  }
}
