.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
  @include small-device {
    margin-top: 1rem;
  }
  &__card {
    background-color: $colour-primary;
    color: white;
    font-size: medium;
    padding: 0.3rem 1.2rem;
    border-radius: 0.8rem;
    min-width: 7rem;
  }
}
