.fiche-logement {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 5%;
  color: $colour-primary;
  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__collapse {
    display: flex;
    justify-content: space-between;
  }
}

.collapse-logement {
  width: 45%;
}
