.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 10rem;
  margin-top: 3rem;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1.5rem;
    &__logo {
      height: 2rem;
      object-fit: scale-down;
    }
    &__content {
      @include flex(row);
      gap: 0.5rem;
      @include small-device {
        @include flex(column);
      }
      &__rights {
        color: white;
      }
    }
  }
}
