.rate-box {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  margin-top: 1rem;
  margin-right: -1.2rem;
  @include small-device {
    gap: 0.2rem;
    padding-top: 0.8rem;
    margin-left: 1rem;
  }
  &__star {
    transform: scale(2);
    height: 1rem;
    width: 2rem;
    @include small-device {
      transform: scale(1.5);
    }
  }
  &__star--empty {
    color: #c4c4c4;
  }
  &__star--filled {
    color: $colour-primary;
  }
}
